@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: rgb(153, 226, 248);
  text-decoration: none;
  text-shadow:  2px 5px 25px #70d8f1;
}

a:hover {
  color: #77eb67;
  text-shadow:  2px 5px 25px #4bda08;
}

.start {
  font-size: 1.5rem;
  display: block;
  colo
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen h3{
  color:pink;
  font-size: 30px;
}

.screen h1{
  color:rgb(215, 245, 229);
  font-size: 50px;
  text-shadow:  2px 5px 25px #78d8b3;
  line-height: 1;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  border-radius:25px;
  color: rgb(200, 185, 159);
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #580202;
  color: #14e76c;
  text-shadow: 7px 7px 25px #1ad409;
  border:none;
  


}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: black;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.circle:hover{
  transition-duration: 0;
}
.start{
  font-size: 35px;
}

.start:hover{
  font-size: 39px;
  transition: 1s all;
}